# 2.0 Join data

AIMS

En este archivo se realiza la union de los datos para formar un unico dataset

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from mypackage import dir
from mypackage.transforms import convert_variables
from mypackage.calculates import proportion_categories, df_correlations
from rfm import calculate_rfm

modality =  modality = 'p'
project = 'australian'
data = dir.make_dir_line(modality, project) 
processed = data('processed')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

## 2.1 Load data

In [3]:
df_customers = pd.read_parquet(processed/'df_clientes.parquet.gzip')
df_customers = df_customers.loc[:,['id_cliente', 'sexo', 'age_days']]
df_customers = convert_variables(df_customers, ['id_cliente', 'sexo'], 'str')
df_customers.head()

  id_cliente sexo  age_days
0       1001    1     34263
1       1002    1     30482
2       1003    0     39372
3       1004    0     14288
4       1005    0      2810

In [4]:
df_products = pd.read_parquet(processed/'df_productos.parquet.gzip')
df_products = df_products.loc[:,['id_producto', 'category', 'valor', 'valor_produccion']]
df_products.head()

  id_producto category  valor  valor_produccion
0       759ne    Short   40.0              22.4
1       759bl    Short   40.0              22.4
2       759az    Short   40.0              22.4
3       759ro    Short   40.0              22.4
4       759ra    Short   40.0              22.4

In [5]:
df_sales = pd.read_parquet(processed/'df_ventas.parquet.gzip')
df_sales.head()

,id_factura,fecha,id_cliente,id_producto,quantity,id_store,discount,per_discount2
0,1001,2021-02-17,1088,2521ro,1,0,0,0.0
1,1002,2021-02-21,1089,9160ro,2,2,1,5.0
2,1003,2021-02-22,1050,9173ne,2,0,0,0.0
3,1004,2021-02-24,1029,762bl,1,1,0,0.0
4,1005,2021-02-24,1009,9167ro,1,1,0,0.0

In [6]:
print(df_sales.shape, df_products.shape)
df = df_sales.merge(df_products, on = ['id_producto'])
print(df.shape)

(5447, 8) (361, 4)
(5447, 11)

In [7]:
df['total_factura'] = df['valor'] * df['quantity']
df['total_produccion'] = df['valor_produccion'] * df['quantity']
df['total_descuento'] = (df['total_factura'] * df['per_discount2'])/100
df['total_factura_con_descuento'] = df['total_factura'] - df['total_descuento'] 
df['ganancia'] = df['total_factura_con_descuento'] - df['total_produccion'] 
df.head()

,id_factura,fecha,id_cliente,id_producto,quantity,id_store,discount,per_discount2,category,valor,valor_produccion,total_factura,total_produccion,total_descuento,total_factura_con_descuento,ganancia
0,1001,2021-02-17,1088,2521ro,1,0,0,0.0,Capri,52.8,13.2,52.8,13.2,0.00,52.80,39.60
1,1226,2021-04-07,1008,2521ro,2,0,0,0.0,Capri,52.8,13.2,105.6,26.4,0.00,105.60,79.20
2,2703,2021-12-25,1022,2521ro,1,1,0,0.0,Capri,52.8,13.2,52.8,13.2,0.00,52.80,39.60
3,2837,2022-03-01,1099,2521ro,2,0,1,15.0,Capri,52.8,13.2,105.6,26.4,15.84,89.76,63.36
4,2991,2022-04-03,1048,2521ro,1,1,1,5.0,Capri,52.8,13.2,52.8,13.2,2.64,50.16,36.96

## 2.2 Make some calculations

In [19]:
datos_compras = {
    'fecha_compra': ['2024-01-01', '2024-01-03', '2024-01-06', '2024-01-10', '2024-01-15'],
    # Otras columnas de datos de compras...
}

df_compras = pd.DataFrame(datos_compras)
df_compras.sort_values(by='fecha_compra', inplace=True)
df_compras['fecha_compra'] = pd.to_datetime(df_compras['fecha_compra'])
df_compras['tiempo_entre_compras'] = df_compras['fecha_compra'].diff()
df_compras = df_compras.drop(index=0)
df_compras

  fecha_compra tiempo_entre_compras
1   2024-01-03               2 days
2   2024-01-06               3 days
3   2024-01-10               4 days
4   2024-01-15               5 days

In [20]:
tiempo_minimo = df_compras['tiempo_entre_compras'].min()
tiempo_promedio = df_compras['tiempo_entre_compras'].mean()
tiempo_maximo = df_compras['tiempo_entre_compras'].max()

# Crear un nuevo DataFrame con los resultados
df_resultado = pd.DataFrame({
'tiempo_minimo': [tiempo_minimo],
'tiempo_promedio': [tiempo_promedio],
'tiempo_maximo': [tiempo_maximo]
})

df_resultado

  tiempo_minimo tiempo_promedio tiempo_maximo
0        2 days 3 days 12:00:00        5 days

In [28]:
def calcular_tiempo_entre_compras(df):
  """
  Calcula el tiempo mínimo, promedio y máximo entre compras en un DataFrame.

  Parámetros:
    df: DataFrame con las compras. Debe tener una columna con la fecha de compra.

  Retorno:
    Nuevo DataFrame con las siguientes columnas:
      - 'tiempo_minimo': Tiempo mínimo entre compras.
      - 'tiempo_promedio': Tiempo promedio entre compras.
      - 'tiempo_maximo': Tiempo máximo entre compras.
  """

  # Convertir la columna de fecha a tipo datetime
  df['fecha_compra'] = pd.to_datetime(df['fecha_compra'])

  # Calcular la diferencia entre fechas consecutivas
  df['tiempo_entre_compras'] = df['fecha_compra'].diff()

  # Eliminar el primer valor (no hay diferencia para la primera compra)
  df = df.drop(index=0)

  # Calcular el tiempo mínimo, promedio y máximo
  tiempo_minimo = df['tiempo_entre_compras'].min()
  tiempo_promedio = df['tiempo_entre_compras'].mean()
  tiempo_maximo = df['tiempo_entre_compras'].max()

  # Crear un nuevo DataFrame con los resultados
  df_resultado = pd.DataFrame({
    'tiempo_minimo': [tiempo_minimo],
    'tiempo_promedio': [tiempo_promedio],
    'tiempo_maximo': [tiempo_maximo]
  })

  return df_resultado

# Ejemplo de uso
df_compras = pd.DataFrame({
  'fecha_compra': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-03-01'],
  'valor': [100, 200, 300, 400]
})

df_resultado = calcular_tiempo_entre_compras(df_compras)
df_resultado

  tiempo_minimo  tiempo_promedio tiempo_maximo
0       14 days 19 days 16:00:00       28 days

In [55]:
# Función para calcular el tiempo entre compras
def calcular_tiempo_entre_compras(df):
    """
    Calculates the minimum, average and maximum days between purchases in a DataFrame.

    Parámetros:
    df: DataFrame con las compras. Debe tener una columna con la fecha de compra.

    Retorno:
    Nuevo DataFrame con las siguientes columnas:
        - 'tiempo_minimo': Tiempo mínimo entre compras.
        - 'tiempo_promedio': Tiempo promedio entre compras.
        - 'tiempo_maximo': Tiempo máximo entre compras.
    """
    # Ordenar el DataFrame por cliente y fecha
    df = df.sort_values(by=['Cliente', 'Fecha'])

    # Calcular la diferencia de tiempo entre compras para cada cliente
    df['Tiempo_Entre_Compras'] = df.groupby('Cliente')['Fecha'].diff()
    df['Tiempo_Entre_Compras'] = df['Tiempo_Entre_Compras'].dt.days

    # Calcular los estadísticos
    stats = df.groupby('Cliente')['Tiempo_Entre_Compras'].agg(['min', 'mean', 'max'])

    # Crear un nuevo DataFrame con los resultados
    resultados_df = pd.DataFrame(stats)
    resultados_df.columns = ['Tiempo_Min', 'Tiempo_Promedio', 'Tiempo_Max']
    resultados_df['Tiempo_Promedio'] = round(resultados_df['Tiempo_Promedio'],0)
    resultados_df = resultados_df.reset_index()
    
    return resultados_df

# Ejemplo de DataFrame de compras
data = {
    'Cliente': ['A', 'A', 'A', 'A',
                'B', 'B', 
                'C', 'C', 'C', 'C'],
    'Fecha': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-03-01',
              '2023-01-01', '2023-02-01', 
              '2022-01-01', '2023-01-06', '2023-02-01', '2023-06-01',]
}
compras_df = pd.DataFrame(data)
compras_df['Fecha'] = pd.to_datetime(compras_df['Fecha'])

# Calcular los tiempos entre compras
resultados_df = calcular_tiempo_entre_compras(compras_df)
resultados_df

  Cliente  Tiempo_Min  Tiempo_Promedio  Tiempo_Max
0       A        14.0             20.0        28.0
1       B        31.0             31.0        31.0
2       C        26.0            172.0       370.0

In [8]:
df_rfm = calculate_rfm(df, val_id_customer='id_cliente', 
                       val_id_facture = 'id_factura', 
                       val_money = 'ganancia', 
                       val_date = 'fecha')
df_rfm.head()

  id_cliente  recency  frequency  monetary
0       1001        5         53  2592.016
1       1002        5         48  3161.840
2       1003       63         55  3025.264
3       1004       39         63  3657.104
4       1005       58         53  3396.528

In [9]:
df_prop = proportion_categories(df, 
                                pet=0, 
                                val1='id_cliente', 
                                val2='category', 
                                val3='ganancia')
df_prop.head()

category,id_cliente,Babucha,Bermuda,Calza,Camisa,Capri,Chaleco,Jean,Mini,Musculosa,Pantalón,Pollera,Remera,Short,Strapless,Vestido
0,1001,0.000000,0.035714,0.053571,0.107143,0.053571,0.107143,0.107143,0.035714,0.214286,0.000000,0.000000,0.053571,0.142857,0.035714,0.053571
1,1002,0.020408,0.020408,0.000000,0.102041,0.102041,0.102041,0.163265,0.000000,0.224490,0.020408,0.000000,0.102041,0.142857,0.000000,0.000000
2,1003,0.035714,0.017857,0.000000,0.125000,0.071429,0.053571,0.142857,0.035714,0.196429,0.017857,0.000000,0.125000,0.107143,0.071429,0.000000
3,1004,0.015385,0.015385,0.000000,0.153846,0.107692,0.030769,0.092308,0.015385,0.261538,0.000000,0.015385,0.153846,0.123077,0.015385,0.000000
4,1005,0.000000,0.000000,0.017544,0.105263,0.105263,0.070175,0.192982,0.052632,0.210526,0.017544,0.000000,0.105263,0.035088,0.052632,0.035088

In [10]:
df_disc = proportion_categories(df, 
                                pet=0, 
                                val1='id_cliente', 
                                val2='discount', 
                                val3='ganancia')
df_disc.rename(columns={'0':'local', '1':'no_local'}, inplace=True)
df_disc.head()

discount id_cliente     local  no_local
0              1001  0.500000  0.500000
1              1002  0.510204  0.489796
2              1003  0.517857  0.482143
3              1004  0.630769  0.369231
4              1005  0.421053  0.578947

## 2.3 Join

In [11]:
dataset = df_customers.copy()

In [12]:
print(dataset.shape, df_rfm.shape, df_prop.shape, df_disc.shape)
dataset = dataset.merge(df_rfm, on = ['id_cliente'])
print(dataset.shape)
dataset = dataset.merge(df_prop, on = ['id_cliente'])
print(dataset.shape)
dataset = dataset.merge(df_disc, on = ['id_cliente'])
print(dataset.shape)

(100, 3) (100, 4) (100, 16) (100, 3)
(100, 6)
(100, 21)
(100, 23)

In [13]:
dataset = dataset.loc[:,['id_cliente', 'sexo', 'age_days', 'recency', 'frequency', 'monetary',
       'Babucha', 'Bermuda', 'Calza', 'Camisa', 'Capri', 'Chaleco', 'Jean',
       'Mini', 'Pantalón', 'Pollera', 'Remera', 'Short',
       'Strapless', 'Vestido', 'local']]
dataset.head()

,id_cliente,sexo,age_days,recency,frequency,monetary,Babucha,Bermuda,Calza,Camisa,Capri,Chaleco,Jean,Mini,Pantalón,Pollera,Remera,Short,Strapless,Vestido,local
0,1001,1,34263,5,53,2592.016,0.000000,0.035714,0.053571,0.107143,0.053571,0.107143,0.107143,0.035714,0.000000,0.000000,0.053571,0.142857,0.035714,0.053571,0.500000
1,1002,1,30482,5,48,3161.840,0.020408,0.020408,0.000000,0.102041,0.102041,0.102041,0.163265,0.000000,0.020408,0.000000,0.102041,0.142857,0.000000,0.000000,0.510204
2,1003,0,39372,63,55,3025.264,0.035714,0.017857,0.000000,0.125000,0.071429,0.053571,0.142857,0.035714,0.017857,0.000000,0.125000,0.107143,0.071429,0.000000,0.517857
3,1004,0,14288,39,63,3657.104,0.015385,0.015385,0.000000,0.153846,0.107692,0.030769,0.092308,0.015385,0.000000,0.015385,0.153846,0.123077,0.015385,0.000000,0.630769
4,1005,0,2810,58,53,3396.528,0.000000,0.000000,0.017544,0.105263,0.105263,0.070175,0.192982,0.052632,0.017544,0.000000,0.105263,0.035088,0.052632,0.035088,0.421053

## 2.4 Correlations

In [14]:
salida_correlations = df_correlations(dataset.loc[:, dataset.columns != 'id_sample'], sort_by_distance=True)
salida_correlations

      Column_1   Column_2  Correlation              type
41    monetary  frequency     0.778599   Strong Positive
167      Short      Capri    -0.321089     Weak Negative
223     Remera       Mini    -0.262036     Weak Negative
105       Jean    Bermuda    -0.254167     Weak Negative
129      Short      Calza    -0.251491     Weak Negative
205      Short       Jean    -0.250942     Weak Negative
112    Vestido    Bermuda     0.232402     Weak Positive
204     Remera       Jean    -0.231700     Weak Negative
49        Mini  frequency     0.223149     Weak Positive
146    Pollera     Camisa     0.217810     Weak Positive
121     Camisa      Calza    -0.217298     Weak Negative
282  Strapless     Remera    -0.210437     Weak Negative
222    Pollera       Mini     0.197795     Weak Positive
64      Camisa   monetary     0.189278     Weak Positive
149  Strapless     Camisa    -0.188239     Weak Negative
182       Mini    Chaleco    -0.186575     Weak Negative
94       local    Babucha     0.176042     Weak Positive
85     Chaleco    Babucha    -0.172013     Weak Negative
84       Capri    Babucha     0.170912     Weak Positive
141      Capri     Camisa    -0.166356     Weak Negative
86        Jean    Babucha    -0.164350     Weak Negative
184    Pollera    Chaleco    -0.158142     Weak Negative
55     Vestido  frequency     0.157934     Weak Positive
241    Pollera   Pantalón     0.157770     Weak Positive
16   Strapless   age_days     0.155867     Weak Positive
75       local   monetary     0.150771     Weak Positive
246      local   Pantalón    -0.149352     Weak Negative
18       local   age_days     0.147151     Weak Positive
31    Pantalón    recency    -0.144462     Weak Negative
83      Camisa    Babucha    -0.144222     Weak Negative
127    Pollera      Calza    -0.144028     Weak Negative
68        Mini   monetary     0.142213     Weak Positive
37       local    recency    -0.142132     Weak Negative
74     Vestido   monetary     0.137852     Weak Positive
185     Remera    Chaleco    -0.136305     Weak Negative
124       Jean      Calza     0.133345     Weak Positive
189      local    Chaleco    -0.133025     Weak Negative
161    Chaleco      Capri    -0.132775     Weak Negative
33      Remera    recency     0.130731     Weak Positive
131    Vestido      Calza    -0.129454     Weak Negative
181       Jean    Chaleco    -0.128694     Weak Negative
144       Mini     Camisa     0.126546     Weak Positive
165    Pollera      Capri    -0.120860     Weak Negative
5      Bermuda   age_days     0.120461     Weak Positive
110      Short    Bermuda    -0.120277     Weak Negative
36     Vestido    recency    -0.119121     Weak Negative
183   Pantalón    Chaleco    -0.118199     Weak Negative
44       Calza  frequency    -0.116892     Weak Negative
56       local  frequency     0.116648     Weak Positive
63       Calza   monetary    -0.113553     Weak Negative
32     Pollera    recency    -0.113380     Weak Negative
207    Vestido       Jean    -0.112834     Weak Negative
243      Short   Pantalón    -0.112048     Weak Negative
201       Mini       Jean    -0.109171     Weak Negative
102     Camisa    Bermuda    -0.108451     Weak Negative
186      Short    Chaleco     0.108360     Weak Positive
224      Short       Mini    -0.107243     Weak Negative
29        Jean    recency     0.107136     Weak Positive
142    Chaleco     Camisa    -0.106369     Weak Negative
283    Vestido     Remera    -0.105793     Weak Negative
42     Babucha  frequency    -0.105770     Weak Negative
12    Pantalón   age_days    -0.105618     Weak Negative
164   Pantalón      Capri    -0.104824     Weak Negative
263  Strapless    Pollera    -0.104312     Weak Negative
46       Capri  frequency     0.103856     Weak Positive
15       Short   age_days    -0.102778     Weak Negative
2    frequency   age_days    -0.101775     Weak Negative
65       Capri   monetary     0.101474     Weak Positive
284      local     Remera    -0.100447     Weak Negative
81     Bermuda    Babucha     0.097762     Weak Positive
130  Strapless      Calza     0.097407     Weak Positive
45      Camisa  frequency     0.096523     Weak Positive
11        Mini   age_days     0.092789     Weak Positive
147     Remera     Camisa    -0.092006     Weak Negative
245    Vestido   Pantalón    -0.091947     Weak Negative
48        Jean  frequency    -0.091697     Weak Negative
106       Mini    Bermuda    -0.087620     Weak Negative
143       Jean     Camisa    -0.086574     Weak Negative
1      recency   age_days     0.086573     Weak Positive
26      Camisa    recency    -0.086188     Weak Negative
73   Strapless   monetary    -0.084271     Weak Negative
169    Vestido      Capri     0.082563     Weak Positive
22    monetary    recency    -0.081975     Weak Negative
51     Pollera  frequency     0.077901     Weak Positive
125       Mini      Calza     0.077583     Weak Positive
35   Strapless    recency     0.077146     Weak Positive
225  Strapless       Mini    -0.075175     Weak Negative
244  Strapless   Pantalón    -0.074921     Weak Negative
227      local       Mini     0.071854     Weak Positive
88    Pantalón    Babucha     0.071371     Weak Positive
111  Strapless    Bermuda     0.071098     Weak Positive
50    Pantalón  frequency    -0.070789     Weak Negative
91       Short    Babucha    -0.070711     Weak Negative
126   Pantalón      Calza     0.070295     Weak Positive
163       Mini      Capri    -0.070051     Weak Negative
3     monetary   age_days    -0.067760     Weak Negative
150    Vestido     Camisa     0.064999     Weak Positive
301  Strapless      Short    -0.064158     Weak Negative
321    Vestido  Strapless    -0.063268     Weak Negative
23     Babucha    recency    -0.059017     Weak Negative
101      Calza    Bermuda    -0.058848     Weak Negative
170      local      Capri     0.057402     Weak Positive
21   frequency    recency    -0.054445     Weak Negative
82       Calza    Babucha     0.054323     Weak Positive
69    Pantalón   monetary     0.052696     Weak Positive
281      Short     Remera    -0.052575     Weak Negative
67        Jean   monetary     0.052215     Weak Positive
71      Remera   monetary    -0.052091     Weak Negative
265      local    Pollera     0.051309     Weak Positive
103      Capri    Bermuda     0.051143     Weak Positive
322      local  Strapless    -0.051092     Weak Negative
7       Camisa   age_days     0.050044     Weak Positive
53       Short  frequency    -0.045431     Weak Negative
43     Bermuda  frequency     0.045351     Weak Positive
89     Pollera    Babucha    -0.044841     Weak Negative
87        Mini    Babucha    -0.043656     Weak Negative
128     Remera      Calza    -0.043285     Weak Negative
17     Vestido   age_days     0.042343     Weak Positive
188    Vestido    Chaleco    -0.040953     Weak Negative
66     Chaleco   monetary     0.040915     Weak Positive
25       Calza    recency    -0.040399     Weak Negative
104    Chaleco    Bermuda    -0.035860     Weak Negative
24     Bermuda    recency    -0.034885     Weak Negative
145   Pantalón     Camisa    -0.034378     Weak Negative
242     Remera   Pantalón     0.033935     Weak Positive
90      Remera    Babucha    -0.033586     Weak Negative
107   Pantalón    Bermuda    -0.033119     Weak Negative
226    Vestido       Mini     0.032000     Weak Positive
93     Vestido    Babucha     0.031549     Weak Positive
187  Strapless    Chaleco     0.029850     Weak Positive
261     Remera    Pollera     0.029735     Weak Positive
34       Short    recency     0.029654     Weak Positive
221   Pantalón       Mini     0.029020     Weak Positive
4      Babucha   age_days     0.028958     Weak Positive
123    Chaleco      Calza    -0.028531     Weak Negative
262      Short    Pollera    -0.026764     Weak Negative
264    Vestido    Pollera    -0.025982     Weak Negative
132      local      Calza     0.025312     Weak Positive
92   Strapless    Babucha     0.024731     Weak Positive
52      Remera  frequency     0.024180     Weak Positive
6        Calza   age_days     0.023430     Weak Positive
27       Capri    recency     0.023167     Weak Positive
72       Short   monetary     0.020641     Weak Positive
61     Babucha   monetary    -0.020101     Weak Negative
54   Strapless  frequency    -0.019809     Weak Negative
208      local       Jean     0.019688     Weak Positive
47     Chaleco  frequency     0.019402     Weak Positive
30        Mini    recency    -0.017278     Weak Negative
206  Strapless       Jean     0.015567     Weak Positive
162       Jean      Capri    -0.013970     Weak Negative
8        Capri   age_days     0.013567     Weak Positive
168  Strapless      Capri     0.013402     Weak Positive
166     Remera      Capri     0.012216     Weak Positive
203    Pollera       Jean    -0.011425     Weak Negative
148      Short     Camisa     0.010391     Weak Positive
341      local    Vestido    -0.009193  Null Correlation
28     Chaleco    recency     0.008802  Null Correlation
109     Remera    Bermuda    -0.008486  Null Correlation
62     Bermuda   monetary     0.007787  Null Correlation
151      local     Camisa    -0.006629  Null Correlation
202   Pantalón       Jean    -0.004263  Null Correlation
9      Chaleco   age_days    -0.003810  Null Correlation
108    Pollera    Bermuda     0.003044  Null Correlation
303      local      Short     0.002292  Null Correlation
13     Pollera   age_days    -0.002287  Null Correlation
14      Remera   age_days     0.002092  Null Correlation
302    Vestido      Short     0.001440  Null Correlation
10        Jean   age_days    -0.000982  Null Correlation
122      Capri      Calza    -0.000678  Null Correlation
70     Pollera   monetary    -0.000564  Null Correlation
113      local    Bermuda     0.000150  Null Correlation

In [15]:
# Save data
dataset.to_parquet(processed/'dataset.parquet.gzip', compression='gzip')

In [16]:
print('ok_')

ok_