# 2.0 Join data

AIMS

En este archivo se realiza la union de los datos para formar un unico dataset

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from mypackage import dir
from mypackage.transforms import convert_variables
from mypackage.calculates import proportion_categories, df_correlations#, calculate_time_between_purchases
from rfm import calculate_rfm
from help import calculate_time_between_purchases

modality =  modality = 'p'
project = 'australian'
data = dir.make_dir_line(modality, project) 
processed = data('processed')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

## 2.1 Load data

In [3]:
df_customers = pd.read_parquet(processed/'df_clientes.parquet.gzip')
df_customers = df_customers.loc[:,['id_cliente', 'sexo', 'age_days']]
df_customers = convert_variables(df_customers, ['id_cliente', 'sexo'], 'str')
df_customers.head()

  id_cliente sexo  age_days
0       1001    1     34247
1       1002    1     30466
2       1003    0     39356
3       1004    0     14272
4       1005    0      2794

In [4]:
df_products = pd.read_parquet(processed/'df_productos.parquet.gzip')
df_products = df_products.loc[:,['id_producto', 'category', 'valor', 'valor_produccion']]
df_products.head()

  id_producto category  valor  valor_produccion
0       759ne    Short   40.0            18.400
1       759bl    Short   40.0            18.400
2       759az    Short   40.0            18.400
3       759ro    Short   40.0            18.400
4       761ro    Short   43.2            15.984

In [5]:
df_sales = pd.read_parquet(processed/'df_ventas.parquet.gzip')
df_sales.head()

,id_factura,fecha,id_cliente,id_producto,quantity,id_store,discount,per_discount2
0,1001,2019-03-16,1331,1634ra,1,2,1,20.0
1,1002,2019-03-16,1131,5821gr,1,1,0,0.0
2,1003,2019-03-16,1344,9151ro,1,2,1,5.0
3,1004,2019-03-16,1444,9145gr,2,2,1,5.0
4,1005,2019-03-16,1345,1367ve,2,2,0,0.0

In [6]:
print(df_sales.shape, df_products.shape)
df = df_sales.merge(df_products, on = ['id_producto'])
print(df.shape)

(9001, 8) (398, 4)
(9001, 11)

In [7]:
df['total_factura'] = df['valor'] * df['quantity']
df['total_produccion'] = df['valor_produccion'] * df['quantity']
df['total_descuento'] = (df['total_factura'] * df['per_discount2'])/100
df['total_factura_con_descuento'] = df['total_factura'] - df['total_descuento'] 
df['ganancia'] = df['total_factura_con_descuento'] - df['total_produccion'] 
df.head()

,id_factura,fecha,id_cliente,id_producto,quantity,id_store,discount,per_discount2,category,valor,valor_produccion,total_factura,total_produccion,total_descuento,total_factura_con_descuento,ganancia
0,1001,2019-03-16,1331,1634ra,1,2,1,20.0,Mini,44.8,14.336,44.8,14.336,8.96,35.84,21.504
1,1169,2019-04-16,1096,1634ra,5,1,0,0.0,Mini,44.8,14.336,224.0,71.680,0.00,224.00,152.320
2,2003,2019-09-16,1068,1634ra,1,1,0,0.0,Mini,44.8,14.336,44.8,14.336,0.00,44.80,30.464
3,2227,2019-11-04,1105,1634ra,2,0,0,0.0,Mini,44.8,14.336,89.6,28.672,0.00,89.60,60.928
4,2310,2019-11-22,1237,1634ra,2,2,1,5.0,Mini,44.8,14.336,89.6,28.672,4.48,85.12,56.448

## 2.2 Make some calculations

In [8]:
df_rfm = calculate_rfm(df, val_id_customer='id_cliente', 
                       val_id_facture = 'id_factura', 
                       val_money = 'ganancia', 
                       val_date = 'fecha')
df_rfm.head()

  id_cliente  recency  frequency  monetary
0       1001       82         21   894.448
1       1002      303         14  1127.408
2       1003      102         15   699.168
3       1004       86         19  1054.560
4       1005      183         22  1608.320

In [9]:
df_prop = proportion_categories(df, 
                                pet=0, 
                                val1='id_cliente', 
                                val2='category', 
                                val3='ganancia')
df_prop.head()

category,id_cliente,Babucha,Bermuda,Calza,Camisa,Capri,Chaleco,Jean,Mini,Musculosa,Pantalón,Pollera,Remera,Short,Strapless,Vestido
0,1001,0.0,0.000000,0.047619,0.142857,0.047619,0.047619,0.095238,0.095238,0.190476,0.0,0.000000,0.190476,0.142857,0.000000,0.0
1,1002,0.0,0.000000,0.000000,0.285714,0.071429,0.000000,0.071429,0.000000,0.142857,0.0,0.071429,0.357143,0.000000,0.000000,0.0
2,1003,0.0,0.000000,0.000000,0.333333,0.000000,0.066667,0.066667,0.000000,0.133333,0.0,0.000000,0.200000,0.200000,0.000000,0.0
3,1004,0.0,0.000000,0.000000,0.263158,0.052632,0.000000,0.157895,0.052632,0.315789,0.0,0.000000,0.157895,0.000000,0.000000,0.0
4,1005,0.0,0.045455,0.000000,0.272727,0.000000,0.000000,0.181818,0.045455,0.181818,0.0,0.000000,0.181818,0.045455,0.045455,0.0

In [10]:
df_disc = proportion_categories(df, 
                                pet=0, 
                                val1='id_cliente', 
                                val2='discount', 
                                val3='ganancia')
df_disc.rename(columns={'0':'local', '1':'no_local'}, inplace=True)
df_disc.head()

discount id_cliente     local  no_local
0              1001  0.428571  0.571429
1              1002  0.500000  0.500000
2              1003  0.466667  0.533333
3              1004  0.578947  0.421053
4              1005  0.772727  0.227273

In [11]:
df_times = calculate_time_between_purchases(df, 
                                            customer_id_column = 'id_cliente',
                                            date_column = 'fecha'
                                            )
df_times = df_times.loc[:,['id_cliente', 'Time_Average']]
df_times.head()

  id_cliente  Time_Average
0       1001          86.0
1       1002         113.0
2       1003         117.0
3       1004          85.0
4       1005          76.0

## 2.3 Join

In [12]:
dataset = df_customers.copy()

In [13]:
print(dataset.shape, df_rfm.shape, df_prop.shape, df_disc.shape)
dataset = dataset.merge(df_rfm, on = ['id_cliente'])
print(dataset.shape)
dataset = dataset.merge(df_prop, on = ['id_cliente'])
print(dataset.shape)
dataset = dataset.merge(df_disc, on = ['id_cliente'])
print(dataset.shape)
dataset = dataset.merge(df_times, on = ['id_cliente'])
print(dataset.shape)

(500, 3) (500, 4) (500, 16) (500, 3)
(500, 6)
(500, 21)
(500, 23)
(500, 24)

In [14]:
dataset = dataset.loc[:,['id_cliente', 'sexo', 'age_days', 'recency', 'frequency', 'monetary',
       'Babucha', 'Bermuda', 'Calza', 'Camisa', 'Capri', 'Chaleco', 'Jean',
       'Mini', 'Pantalón', 'Pollera', 'Remera', 'Short',
       'Strapless', 'Vestido', 'local', 'Time_Average']]
dataset.head()

,id_cliente,sexo,age_days,recency,frequency,monetary,Babucha,Bermuda,Calza,Camisa,Capri,Chaleco,Jean,Mini,Pantalón,Pollera,Remera,Short,Strapless,Vestido,local,Time_Average
0,1001,1,34247,82,21,894.448,0.0,0.000000,0.047619,0.142857,0.047619,0.047619,0.095238,0.095238,0.0,0.000000,0.190476,0.142857,0.000000,0.0,0.428571,86.0
1,1002,1,30466,303,14,1127.408,0.0,0.000000,0.000000,0.285714,0.071429,0.000000,0.071429,0.000000,0.0,0.071429,0.357143,0.000000,0.000000,0.0,0.500000,113.0
2,1003,0,39356,102,15,699.168,0.0,0.000000,0.000000,0.333333,0.000000,0.066667,0.066667,0.000000,0.0,0.000000,0.200000,0.200000,0.000000,0.0,0.466667,117.0
3,1004,0,14272,86,19,1054.560,0.0,0.000000,0.000000,0.263158,0.052632,0.000000,0.157895,0.052632,0.0,0.000000,0.157895,0.000000,0.000000,0.0,0.578947,85.0
4,1005,0,2794,183,22,1608.320,0.0,0.045455,0.000000,0.272727,0.000000,0.000000,0.181818,0.045455,0.0,0.000000,0.181818,0.045455,0.045455,0.0,0.772727,76.0

## 2.4 Correlations

In [15]:
salida_correlations = df_correlations(dataset.loc[:, dataset.columns != 'id_sample'], sort_by_distance=True)
salida_correlations

         Column_1   Column_2  Correlation               type
59   Time_Average  frequency    -0.868681    Strong Negative
43       monetary  frequency     0.763058    Strong Positive
79   Time_Average   monetary    -0.687108  Moderate Negative
22      frequency    recency    -0.277476      Weak Negative
70           Jean   monetary     0.229744      Weak Positive
214        Remera       Jean    -0.210218      Weak Negative
151          Mini     Camisa    -0.202647      Weak Negative
234        Remera       Mini    -0.201129      Weak Negative
155         Short     Camisa    -0.184638      Weak Negative
295         Short     Remera    -0.173593      Weak Negative
23       monetary    recency    -0.170464      Weak Negative
154        Remera     Camisa    -0.154261      Weak Negative
67         Camisa   monetary     0.153733      Weak Positive
74         Remera   monetary    -0.146868      Weak Negative
148         Capri     Camisa    -0.139545      Weak Negative
157       Vestido     Camisa    -0.139485      Weak Negative
135         Short      Calza    -0.135787      Weak Negative
110          Jean    Bermuda    -0.134394      Weak Negative
195         Short    Chaleco    -0.133632      Weak Negative
149       Chaleco     Camisa    -0.124709      Weak Negative
194        Remera    Chaleco    -0.121163      Weak Negative
215         Short       Jean    -0.112775      Weak Negative
31           Mini    recency     0.107253      Weak Positive
296     Strapless     Remera    -0.104648      Weak Negative
134        Remera      Calza    -0.100824      Weak Negative
106         Calza    Bermuda    -0.099709      Weak Negative
133       Pollera      Calza    -0.093911      Weak Negative
152      Pantalón     Camisa    -0.093908      Weak Negative
114        Remera    Bermuda    -0.093611      Weak Negative
58          local  frequency    -0.088546      Weak Negative
170          Jean      Capri    -0.088465      Weak Negative
132      Pantalón      Calza    -0.088186      Weak Negative
277       Vestido    Pollera    -0.087387      Weak Negative
137       Vestido      Calza    -0.085679      Weak Negative
29        Chaleco    recency    -0.085568      Weak Negative
77        Vestido   monetary    -0.085343      Weak Negative
11           Mini   age_days     0.084435      Weak Positive
297       Vestido     Remera    -0.081873      Weak Negative
174        Remera      Capri    -0.080726      Weak Negative
177       Vestido      Capri     0.079824      Weak Positive
49        Chaleco  frequency     0.079206      Weak Positive
156     Strapless     Camisa    -0.078893      Weak Negative
128         Capri      Calza    -0.077884      Weak Negative
115         Short    Bermuda    -0.076805      Weak Negative
233       Pollera       Mini    -0.076219      Weak Negative
216     Strapless       Jean    -0.075726      Weak Negative
66          Calza   monetary    -0.075665      Weak Negative
254        Remera   Pantalón    -0.075161      Weak Negative
3        monetary   age_days    -0.073781      Weak Negative
16      Strapless   age_days    -0.073289      Weak Negative
379  Time_Average      local     0.070467      Weak Positive
339  Time_Average  Strapless    -0.069792      Weak Negative
337       Vestido  Strapless     0.069168      Weak Positive
94         Remera    Babucha    -0.068541      Weak Negative
38          local    recency     0.066429      Weak Positive
95          Short    Babucha    -0.065646      Weak Negative
190          Jean    Chaleco    -0.064434      Weak Negative
107        Camisa    Bermuda    -0.063300      Weak Negative
171          Mini      Capri    -0.062926      Weak Negative
150          Jean     Camisa    -0.062501      Weak Negative
78          local   monetary     0.061743      Weak Positive
57        Vestido  frequency    -0.060266      Weak Negative
358         local    Vestido    -0.058709      Weak Negative
316     Strapless      Short     0.058282      Weak Positive
2       frequency   age_days    -0.057756      Weak Negative
108         Capri    Bermuda    -0.057539      Weak Negative
213       Pollera       Jean     0.057530      Weak Positive
1         recency   age_days     0.056203      Weak Positive
232      Pantalón       Mini    -0.056081      Weak Negative
15          Short   age_days     0.054868      Weak Positive
217       Vestido       Jean    -0.053435      Weak Negative
196     Strapless    Chaleco    -0.052186      Weak Negative
199  Time_Average    Chaleco    -0.051729      Weak Negative
37        Vestido    recency     0.050962      Weak Positive
153       Pollera     Camisa    -0.050650      Weak Negative
96      Strapless    Babucha    -0.050047      Weak Negative
56      Strapless  frequency     0.049648      Weak Positive
7          Camisa   age_days    -0.049172      Weak Negative
192      Pantalón    Chaleco    -0.048562      Weak Negative
89        Chaleco    Babucha     0.046794      Weak Positive
99   Time_Average    Babucha    -0.045734      Weak Negative
299  Time_Average     Remera     0.045002      Weak Positive
76      Strapless   monetary    -0.044360      Weak Negative
24        Babucha    recency     0.043847      Weak Positive
359  Time_Average    Vestido     0.043355      Weak Positive
257       Vestido   Pantalón    -0.043036      Weak Negative
255         Short   Pantalón    -0.042720      Weak Negative
86          Calza    Babucha    -0.042643      Weak Negative
69        Chaleco   monetary     0.041961      Weak Positive
138         local      Calza     0.039994      Weak Positive
118         local    Bermuda    -0.039955      Weak Negative
211          Mini       Jean    -0.039572      Weak Negative
237       Vestido       Mini     0.039335      Weak Positive
39   Time_Average    recency     0.038938      Weak Positive
239  Time_Average       Mini    -0.038693      Weak Negative
175         Short      Capri    -0.038478      Weak Negative
136     Strapless      Calza    -0.037823      Weak Negative
218         local       Jean     0.036730      Weak Positive
32       Pantalón    recency    -0.036399      Weak Negative
8           Capri   age_days     0.035395      Weak Positive
191          Mini    Chaleco    -0.035273      Weak Negative
92       Pantalón    Babucha    -0.035197      Weak Negative
169       Chaleco      Capri    -0.033991      Weak Negative
238         local       Mini    -0.033913      Weak Negative
113       Pollera    Bermuda     0.033912      Weak Positive
178         local      Capri     0.033090      Weak Positive
30           Jean    recency     0.032397      Weak Positive
159  Time_Average     Camisa    -0.031613      Weak Negative
131          Mini      Calza    -0.031005      Weak Negative
71           Mini   monetary     0.030118      Weak Positive
139  Time_Average      Calza     0.030106      Weak Positive
34         Remera    recency    -0.030016      Weak Negative
28          Capri    recency    -0.029266      Weak Negative
258         local   Pantalón     0.028188      Weak Positive
91           Mini    Babucha    -0.027691      Weak Negative
318         local      Short     0.027686      Weak Positive
127        Camisa      Calza    -0.027670      Weak Negative
18          local   age_days    -0.027272      Weak Negative
87         Camisa    Babucha    -0.026686      Weak Negative
116     Strapless    Bermuda    -0.026621      Weak Negative
54         Remera  frequency    -0.026094      Weak Negative
46          Calza  frequency    -0.025981      Weak Negative
173       Pollera      Capri     0.024422      Weak Positive
68          Capri   monetary     0.024408      Weak Positive
45        Bermuda  frequency    -0.024083      Weak Negative
47         Camisa  frequency     0.023625      Weak Positive
73        Pollera   monetary     0.022762      Weak Positive
298         local     Remera    -0.021790      Weak Negative
279  Time_Average    Pollera    -0.021733      Weak Negative
212      Pantalón       Jean    -0.021641      Weak Negative
319  Time_Average      Short     0.021373      Weak Positive
278         local    Pollera     0.021294      Weak Positive
158         local     Camisa     0.021224      Weak Positive
179  Time_Average      Capri     0.020328      Weak Positive
253       Pollera   Pantalón    -0.019721      Weak Negative
98          local    Babucha     0.019329      Weak Positive
35          Short    recency    -0.018465      Weak Negative
44        Babucha  frequency     0.018114      Weak Positive
259  Time_Average   Pantalón    -0.018058      Weak Negative
19   Time_Average   age_days     0.018056      Weak Positive
93        Pollera    Babucha     0.017904      Weak Positive
109       Chaleco    Bermuda    -0.017875      Weak Negative
276     Strapless    Pollera    -0.017270      Weak Negative
27         Camisa    recency    -0.017192      Weak Negative
64        Babucha   monetary     0.016557      Weak Positive
25        Bermuda    recency     0.015929      Weak Positive
65        Bermuda   monetary    -0.015918      Weak Negative
85        Bermuda    Babucha    -0.015881      Weak Negative
176     Strapless      Capri     0.015870      Weak Positive
5         Bermuda   age_days    -0.014891      Weak Negative
129       Chaleco      Calza     0.014569      Weak Positive
48          Capri  frequency     0.014257      Weak Positive
197       Vestido    Chaleco    -0.013899      Weak Negative
236     Strapless       Mini     0.013789      Weak Positive
12       Pantalón   age_days     0.013325      Weak Positive
130          Jean      Calza     0.012938      Weak Positive
338         local  Strapless    -0.012750      Weak Negative
51           Mini  frequency    -0.012631      Weak Negative
112      Pantalón    Bermuda     0.012112      Weak Positive
9         Chaleco   age_days     0.012016      Weak Positive
256     Strapless   Pantalón     0.011868      Weak Positive
317       Vestido      Short     0.011762      Weak Positive
6           Calza   age_days    -0.011451      Weak Negative
117       Vestido    Bermuda     0.010954      Weak Positive
111          Mini    Bermuda     0.010487      Weak Positive
88          Capri    Babucha    -0.010161      Weak Negative
172      Pantalón      Capri     0.010016      Weak Positive
235         Short       Mini     0.009868   Null Correlation
4         Babucha   age_days     0.009729   Null Correlation
75          Short   monetary     0.009668   Null Correlation
193       Pollera    Chaleco     0.008865   Null Correlation
50           Jean  frequency    -0.008399   Null Correlation
14         Remera   age_days     0.008328   Null Correlation
72       Pantalón   monetary     0.008229   Null Correlation
53        Pollera  frequency     0.007771   Null Correlation
17        Vestido   age_days    -0.007565   Null Correlation
90           Jean    Babucha     0.007311   Null Correlation
13        Pollera   age_days    -0.006178   Null Correlation
10           Jean   age_days     0.006053   Null Correlation
274        Remera    Pollera     0.004771   Null Correlation
97        Vestido    Babucha     0.004058   Null Correlation
36      Strapless    recency    -0.004039   Null Correlation
198         local    Chaleco    -0.003575   Null Correlation
52       Pantalón  frequency     0.003104   Null Correlation
55          Short  frequency     0.002512   Null Correlation
33        Pollera    recency    -0.002396   Null Correlation
119  Time_Average    Bermuda     0.001217   Null Correlation
26          Calza    recency     0.000936   Null Correlation
219  Time_Average       Jean    -0.000572   Null Correlation
275         Short    Pollera    -0.000331   Null Correlation

In [16]:
# Save data
dataset.to_parquet(processed/'dataset.parquet.gzip', compression='gzip')

In [17]:
print('ok_')

ok_