# 4.0.0 Export

- En este archivo se crearan los graficos para el dash

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import plotly.express as px
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

In [3]:
import sys
sys.path.append("../") 

from utils.RFM import rfm_v1, rfm_v2
from utils.paths2 import direcciones_cursos

G_raw, G_processed, G_interim, G_external, G_models, G_reports, G_reports_figures = direcciones_cursos('australian')

In [4]:
df = pd.read_parquet(G_processed/'data.parquet.gzip')
df.head()

,invoice,date,customer_id,stockcode,price,group,Cluster,Cluster_medoids
0,1,2020-07-25,d18734,y7,50.45,7,0,0
1,2,2020-01-17,c21086,x7,25.30,7,2,3
2,3,2019-07-05,d18185,z5,18.40,6,0,0
3,4,2019-02-26,c18331,z2,5.50,6,2,3
4,5,2019-02-10,b16309,y7,18.40,1,1,2