# 4.0 Show models

AIMS

In this document, ____:

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import plotly.express as px
from mypackage import dir
from mypackage.clustering import cluster_summary

modality =  modality = 'p'
project = 'australian'
data = dir.make_dir_line(modality, project) 
processed = data('processed')
models = data('models')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings("ignore")

## 4.1 Load data

In [3]:
dataset = pd.read_parquet(processed/'dataset.parquet.gzip')
df_model = pd.read_parquet(models/'df_models.parquet.gzip')

In [4]:
dataset.head()

,id_cliente,sexo,age_days,recency,frequency,monetary,Babucha,Bermuda,Calza,Camisa,Capri,Chaleco,Jean,Mini,Pantalón,Pollera,Remera,Short,Strapless,Vestido,local,Time_Average
0,1001,1,34247,82,21,894.448,0.0,0.000000,0.047619,0.142857,0.047619,0.047619,0.095238,0.095238,0.0,0.000000,0.190476,0.142857,0.000000,0.0,0.428571,86.0
1,1002,1,30466,303,14,1127.408,0.0,0.000000,0.000000,0.285714,0.071429,0.000000,0.071429,0.000000,0.0,0.071429,0.357143,0.000000,0.000000,0.0,0.500000,113.0
2,1003,0,39356,102,15,699.168,0.0,0.000000,0.000000,0.333333,0.000000,0.066667,0.066667,0.000000,0.0,0.000000,0.200000,0.200000,0.000000,0.0,0.466667,117.0
3,1004,0,14272,86,19,1054.560,0.0,0.000000,0.000000,0.263158,0.052632,0.000000,0.157895,0.052632,0.0,0.000000,0.157895,0.000000,0.000000,0.0,0.578947,85.0
4,1005,0,2794,183,22,1608.320,0.0,0.045455,0.000000,0.272727,0.000000,0.000000,0.181818,0.045455,0.0,0.000000,0.181818,0.045455,0.045455,0.0,0.772727,76.0

In [ ]:


labels={'r_quartile':'R Quantile', 
        'f_quartile':'F Quantile', 
        'm_quartile':'M Quantile', 
        'recency':'Recency',
        'frequency':'Frequency',
        'monetary':'Monetary',
        'group':'Group',
        'group_rfm':'Group',
        'segment':'Segment',
        'frequency_mean':'Frequency mean',
        'monetary_mean':'Monetary mean',
        'recency_mean':'Recency mean',
        'category':'Category'
        }

In [ ]:
rfm_statistics = df_models.loc[:,['recency', 'frequency', 'monetary', 'group_rfm']]
rfm_statistics = cluster_summary(rfm_statistics, 'group_rfm', sta=False, statistics_list=['mean'])
rfm_statistics = rfm_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])
rfm_statistics

In [ ]:
rfm_statistics = df_models.loc[:,['recency', 'frequency', 'monetary', 'group_rfm']]
rfm_statistics = cluster_summary(df_models, 'group_rfm', sta=True, statistics_list=['mean'])
rfm_statistics = rfm_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])

fig = px.line(rfm_statistics, x="statistic", y="value", color='category',
              title='Snake plot of normalized variables',
              labels=labels
              )
fig.show()

In [ ]:
fig = px.scatter_3d(df_models, x='recency', y='frequency', z='monetary', color='group_rfm',
                    title = 'RFM Rubik Cube',
                    category_orders={'segment': ['Hibernating','About to Sleep','New Customers','Potential low',
                                                 'At Risk','New Customers higt','Unique higt - Promising',
                                                 'Need Attention','Potential higt','Champions']},
                    color_discrete_map={'Hibernating':'#684cf6','About to Sleep':'#90dde0','New Customers':'#447FF5',
                                        'Potential low':'#78e591','At Risk':'#1e5274','New Customers higt':'#FFE343',
                                        'Unique higt - Promising':'#9EFF43','Need Attention':'#4AC3FF',
                                        'Potential higt':'#D04AFF','Champions':'#FF4AC8'},
                    labels=labels
                   )
fig.show()

In [ ]:
fig = px.box(df_models, y='recency', color='group_rfm', 
             title = 'RFM Recency',
        #      category_orders={'segment': ['Hibernating','About to Sleep','New Customers','Potential low',
        #                                   'At Risk','New Customers higt','Unique higt - Promising',
        #                                   'Need Attention','Potential higt','Champions']},
             color_discrete_map={'Hibernating':'#684cf6','About to Sleep':'#90dde0','New Customers':'#447FF5',
                                 'Potential low':'#78e591','At Risk':'#1e5274','New Customers higt':'#FFE343',
                                 'Unique higt - Promising':'#9EFF43','Need Attention':'#4AC3FF',
                                 'Potential higt':'#D04AFF','Champions':'#FF4AC8'},
        #      labels={'recency':'Recency', 
        #              'frequency':'Frequency', 
        #              'monetary':'Monetary', 
        #              'group':'Group',
        #              'segment':'Segment'
        #             }
                    )
fig.show()

In [ ]:
kmeans_statistics = cluster_summary(df_models2, 'group_kmeans', sta=False, statistics_list=['mean'])
kmeans_statistics = kmeans_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])
kmeans_statistics

In [ ]:
# kmeans_statistics = cluster_summary(df_models2, 'group_kmeans', sta=True, statistics_list=['mean'])
# kmeans_statistics = kmeans_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])

# fig = px.line(kmeans_statistics, x="statistic", y="value", color='category',
#               title='Snake plot of normalized variables (building)')
# fig.show()

In [ ]:
gmm_statistics = cluster_summary(df_models3, 'group_gmm', sta=False, statistics_list=['mean'])
gmm_statistics = gmm_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])
gmm_statistics

In [ ]:
# gmm_statistics = cluster_summary(df_models3, 'group_gmm', sta=True, statistics_list=['mean'])
# gmm_statistics = gmm_statistics.sort_values(by=['statistic', 'value'], ascending=[False, True])

# fig = px.line(gmm_statistics, x="statistic", y="value", color='category',
#               title='Snake plot of normalized variables (building)')
# fig.show()