In [2]:
import pandas as pd
import datetime as dt

from lifetimes import BetaGeoFitter 
from lifetimes import GammaGammaFitter

import optuna

from mypackage import dir


# Environment variables
modality = 'p'
project = 'australian'
data = dir.make_dir_line(modality, project) 
processed = data('processed')
models = data('models')


# Función para cargar datos
def cargar_datos(table_name: str) -> pd.DataFrame:
    df = pd.read_parquet(processed / f'{table_name}.parquet.gzip')
    print(f'Loaded table: {table_name}')
    return df

# Función para cargar los datos en la base de datos
def cargar_en_db(df: pd.DataFrame, table_name: str) -> None:
    df.to_parquet(models/f'{table_name}.parquet.gzip', compression='gzip')
    print(f'Saved table: {table_name}')

def get_month(x): return dt.datetime(x.year, x.month, 1) 

def get_dates(df, col):
    
    year = df[col].dt.year
    month = df[col].dt.month
    day = df[col].dt.day
    
    return year, month, day

In [3]:
cltv = cargar_datos('cltv')
cltv.head()

Loaded table: cltv

   id_cliente  recency  live_purches      tenure  frequency    monetary
0           0      232    211.142857  178.000000         13   82.830769
1           1       83    211.428571  199.571429         19   96.589474
2           2       90    211.000000  198.142857         14   85.485714
3           3        8    212.000000  210.857143         18  100.444444
4           4        2    187.000000  186.714286         14   80.571429

In [4]:
# Define la función objetivo
def objective(trial):
    # Hiperparámetro a optimizar
    penalizer_coef = trial.suggest_loguniform('penalizer_coef', 1e-6, 1e-1)
    
    # Inicializa el modelo con el hiperparámetro actual
    bgf = BetaGeoFitter(penalizer_coef=penalizer_coef)
    
    # Entrena el modelo
    bgf.fit(frequency = cltv['frequency'],  # omitir la primera compra
            recency = cltv['tenure'],       # tenura, primera y ultima compra
            T = cltv['live_purches'])       # tiempo de observacion desde la primera compra

    
    # Calcula el log-likelihood como métrica de evaluación
    log_likelihood = bgf._negative_log_likelihood_
    
    # Queremos maximizar el log-likelihood
    return -log_likelihood  # Cambia el signo porque Optuna minimiza por defecto

# Configura el estudio
study = optuna.create_study(direction='minimize')  # Minimizamos el negativo del log-likelihood
study.optimize(objective, n_trials=20)

[I 2024-12-04 11:41:06,934] A new study created in memory with name: no-name-af39cf73-4ee3-4ac5-8941-ba4b09da9388
[I 2024-12-04 11:41:07,485] Trial 0 finished with value: 27.26787736476085 and parameters: {'penalizer_coef': 0.00012170737157622279}. Best is trial 0 with value: 27.26787736476085.
[I 2024-12-04 11:41:08,234] Trial 1 finished with value: 27.388173738047104 and parameters: {'penalizer_coef': 1.4290845291402666e-06}. Best is trial 0 with value: 27.26787736476085.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:08,646] Trial 2 finished with value: 27.329974362156236 and parameters: {'penalizer_coef': 2.7964836434372826e-05}. Best is trial 0 with value: 27.26787736476085.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:08,926] Trial 3 finished with value: 27.318591215062874 and parameters: {'penalizer_coef': 3.898776657149029e-05}. Best is trial 0 with value: 27.26787736476085.
[I 2024-12-04 11:41:09,101] Trial 4 finished with value: 27.222341313169743 and parameters: {'penalizer_coef': 0.00025739059903097665}. Best is trial 4 with value: 27.222341313169743.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:09,352] Trial 5 finished with value: 27.287612139334612 and parameters: {'penalizer_coef': 8.223431499221764e-05}. Best is trial 4 with value: 27.222341313169743.
[I 2024-12-04 11:41:09,594] Trial 6 finished with value: 26.92683906039456 and parameters: {'penalizer_coef': 0.004411687303447355}. Best is trial 6 with value: 26.92683906039456.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:09,802] Trial 7 finished with value: 27.268753948028163 and parameters: {'penalizer_coef': 0.00011973173611207544}. Best is trial 6 with value: 26.92683906039456.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:10,028] Trial 8 finished with value: 27.09060084720867 and parameters: {'penalizer_coef': 0.001185330747487463}. Best is trial 6 with value: 26.92683906039456.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:10,541] Trial 9 finished with value: 27.36102243579505 and parameters: {'penalizer_coef': 8.544565635721013e-06}. Best is trial 6 with value: 26.92683906039456.
[I 2024-12-04 11:41:10,868] Trial 10 finished with value: 26.381140515594595 and parameters: {'penalizer_coef': 0.0815503383569485}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:11,123] Trial 11 finished with value: 26.383909318150454 and parameters: {'penalizer_coef': 0.0805673721633753}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:11,430] Trial 12 finished with value: 26.46145702805244 and parameters: {'penalizer_coef': 0.05694121106939271}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:11,727] Trial 13 finished with value: 26.38394687465184 and parameters: {'penalizer_coef': 0.08055411113999995}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:11,993] Trial 14 finished with value: 26.78275691867571 and parameters: {'penalizer_coef': 0.010998341159486887}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:12,386] Trial 15 finished with value: 26.808872988702966 and parameters: {'penalizer_coef': 0.009424762100410615}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:12,699] Trial 16 finished with value: 26.632185410830196 and parameters: {'penalizer_coef': 0.02497834163174411}. Best is trial 10 with value: 26.381140515594595.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:13,090] Trial 17 finished with value: 27.060539662444185 and parameters: {'penalizer_coef': 0.0015593628985011699}. Best is trial 10 with value: 26.381140515594595.
[I 2024-12-04 11:41:13,450] Trial 18 finished with value: 27.107727322359384 and parameters: {'penalizer_coef': 0.001004634196154168}. Best is trial 10 with value: 26.381140515594595.
C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)
[I 2024-12-04 11:41:14,139] Trial 19 finished with value: 26.653604796639332 and parameters: {'penalizer_coef': 0.02236646555377826}. Best is trial 10 with value: 26.381140515594595.

In [5]:
best_penalizer = study.best_params['penalizer_coef']

# Inicializa el modelo con el hiperparámetro actual
bgf = BetaGeoFitter(penalizer_coef=best_penalizer)

# Entrena el modelo
bgf.fit(frequency = cltv['frequency'],  # omitir la primera compra
        recency = cltv['tenure'],       # tenura, primera y ultima compra
        T = cltv['live_purches'])       # tiempo de observacion desde la primera compra

In [6]:
t = 4 * 3  #4 semanas por 3 meses
cltv["b_exp_sales_3_month"] = bgf.predict(t,
                                          cltv['frequency'],
                                          cltv['tenure'],
                                          cltv['live_purches'])

cltv.head(10)

,id_cliente,recency,live_purches,tenure,frequency,monetary,b_exp_sales_3_month
0,0,232,211.142857,178.000000,13,82.830769,0.755534
1,1,83,211.428571,199.571429,19,96.589474,1.063227
2,2,90,211.000000,198.142857,14,85.485714,0.807529
3,3,8,212.000000,210.857143,18,100.444444,1.009319
4,4,2,187.000000,186.714286,14,80.571429,0.900318
5,5,30,190.428571,186.142857,17,86.588235,1.055351
6,6,156,212.142857,189.857143,14,83.542857,0.803585
7,7,16,197.142857,194.857143,11,110.836364,0.694248
8,8,23,188.000000,184.714286,11,83.200000,0.724492
9,9,60,162.000000,153.428571,8,108.600000,0.631148

In [7]:
t = 4 * 6  #4 semanas por 6 meses
cltv["b_exp_sales_6_month"] = bgf.predict(t,
                                          cltv['frequency'],
                                          cltv['tenure'],
                                          cltv['live_purches'])
cltv.head(10)

,id_cliente,recency,live_purches,tenure,frequency,monetary,b_exp_sales_3_month,b_exp_sales_6_month
0,0,232,211.142857,178.000000,13,82.830769,0.755534,1.511069
1,1,83,211.428571,199.571429,19,96.589474,1.063227,2.126455
2,2,90,211.000000,198.142857,14,85.485714,0.807529,1.615058
3,3,8,212.000000,210.857143,18,100.444444,1.009319,2.018638
4,4,2,187.000000,186.714286,14,80.571429,0.900318,1.800635
5,5,30,190.428571,186.142857,17,86.588235,1.055351,2.110701
6,6,156,212.142857,189.857143,14,83.542857,0.803585,1.607170
7,7,16,197.142857,194.857143,11,110.836364,0.694248,1.388496
8,8,23,188.000000,184.714286,11,83.200000,0.724492,1.448985
9,9,60,162.000000,153.428571,8,108.600000,0.631148,1.262296

In [8]:
# Guardar modelo (y cargar modelo)

bgf.save_model(models/'bgf.pkl')

bgf_loaded = BetaGeoFitter()
bgf_loaded.load_model(models/'bgf.pkl')
bgf_loaded

In [9]:
t = 4 * 3
salida = bgf_loaded.predict(t, 2, 30, 90)
salida

0.39375182249009905

In [12]:
# Define la función objetivo
def objective(trial):
    # Hiperparámetro a optimizar
    penalizer_coef = trial.suggest_loguniform('penalizer_coef', 1e-6, 1e-1)
    
    # Inicializa el modelo con el hiperparámetro actual
    ggf = GammaGammaFitter(penalizer_coef=penalizer_coef)
    
    # Entrena el modelo
    ggf.fit(cltv['frequency'], cltv['monetary'])

    
    # Calcula el log-likelihood como métrica de evaluación
    log_likelihood = ggf._negative_log_likelihood_
    
    # Queremos maximizar el log-likelihood
    return -log_likelihood  # Cambia el signo porque Optuna minimiza por defecto

# Configura el estudio
study = optuna.create_study(direction='minimize')  # Minimizamos el negativo del log-likelihood
study.optimize(objective, n_trials=20)

[I 2024-12-04 11:41:28,091] A new study created in memory with name: no-name-3ec13baa-a62e-4a3a-9182-c0daff0d4031
[I 2024-12-04 11:41:28,280] Trial 0 finished with value: -6.438064458494167 and parameters: {'penalizer_coef': 0.010860498359349288}. Best is trial 0 with value: -6.438064458494167.
[I 2024-12-04 11:41:28,629] Trial 1 finished with value: -4.106351936606212 and parameters: {'penalizer_coef': 1.738676304119386e-06}. Best is trial 0 with value: -6.438064458494167.
[I 2024-12-04 11:41:28,809] Trial 2 finished with value: -6.811830221121086 and parameters: {'penalizer_coef': 0.03269390363995669}. Best is trial 2 with value: -6.811830221121086.
[I 2024-12-04 11:41:28,961] Trial 3 finished with value: -6.920153050950396 and parameters: {'penalizer_coef': 0.04760704793719024}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:29,215] Trial 4 finished with value: -4.172336502736555 and parameters: {'penalizer_coef': 1.0694401586120287e-05}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:29,442] Trial 5 finished with value: -4.810465465443212 and parameters: {'penalizer_coef': 0.00022859083714402205}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:29,609] Trial 6 finished with value: -6.757638997567773 and parameters: {'penalizer_coef': 0.027397134826347227}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:29,793] Trial 7 finished with value: -5.985636034413828 and parameters: {'penalizer_coef': 0.0036017679502994143}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:30,079] Trial 8 finished with value: -4.109367156615839 and parameters: {'penalizer_coef': 2.1108772688338172e-06}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:30,401] Trial 9 finished with value: -4.117336697881637 and parameters: {'penalizer_coef': 3.113363554650334e-06}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:30,643] Trial 10 finished with value: -5.602049535033592 and parameters: {'penalizer_coef': 0.0015189032720947491}. Best is trial 3 with value: -6.920153050950396.
[I 2024-12-04 11:41:30,851] Trial 11 finished with value: -7.070124159304716 and parameters: {'penalizer_coef': 0.08487300494977137}. Best is trial 11 with value: -7.070124159304716.
[I 2024-12-04 11:41:31,059] Trial 12 finished with value: -7.091441731013423 and parameters: {'penalizer_coef': 0.09271387381332115}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:31,262] Trial 13 finished with value: -7.08298996112138 and parameters: {'penalizer_coef': 0.08950451777194575}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:31,525] Trial 14 finished with value: -4.8763397593775775 and parameters: {'penalizer_coef': 0.0002731793684772899}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:31,765] Trial 15 finished with value: -5.6427823131557036 and parameters: {'penalizer_coef': 0.0016635311718891036}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:32,111] Trial 16 finished with value: -4.328712083048585 and parameters: {'penalizer_coef': 3.919101813610309e-05}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:32,344] Trial 17 finished with value: -6.223328272123884 and parameters: {'penalizer_coef': 0.006306649078526631}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:32,592] Trial 18 finished with value: -7.082850647569702 and parameters: {'penalizer_coef': 0.08945275227864223}. Best is trial 12 with value: -7.091441731013423.
[I 2024-12-04 11:41:32,817] Trial 19 finished with value: -6.574041162699588 and parameters: {'penalizer_coef': 0.015763972028147475}. Best is trial 12 with value: -7.091441731013423.

In [13]:
best_penalizer = study.best_params['penalizer_coef']

# Inicializa el modelo con el hiperparámetro actual
ggf = GammaGammaFitter(penalizer_coef=best_penalizer)

# Entrena el modelo
ggf.fit(cltv['frequency'], cltv['monetary'])

In [14]:
# Guardar modelo (y cargar modelo)

ggf.save_model(models/'ggf.pkl')

ggf_loaded = BetaGeoFitter()
ggf_loaded.load_model(models/'bgf.pkl')
ggf_loaded

In [15]:
t = 4 * 3  #4 semanas por 3 meses
cltv["exp_sales_3_month"] = bgf.predict(t,
                                        cltv['frequency'],
                                        cltv['tenure'],
                                        cltv['live_purches'])

cltv.head(10)

,id_cliente,recency,live_purches,tenure,frequency,monetary,b_exp_sales_3_month,b_exp_sales_6_month,exp_sales_3_month
0,0,232,211.142857,178.000000,13,82.830769,0.755534,1.511069,0.755534
1,1,83,211.428571,199.571429,19,96.589474,1.063227,2.126455,1.063227
2,2,90,211.000000,198.142857,14,85.485714,0.807529,1.615058,0.807529
3,3,8,212.000000,210.857143,18,100.444444,1.009319,2.018638,1.009319
4,4,2,187.000000,186.714286,14,80.571429,0.900318,1.800635,0.900318
5,5,30,190.428571,186.142857,17,86.588235,1.055351,2.110701,1.055351
6,6,156,212.142857,189.857143,14,83.542857,0.803585,1.607170,0.803585
7,7,16,197.142857,194.857143,11,110.836364,0.694248,1.388496,0.694248
8,8,23,188.000000,184.714286,11,83.200000,0.724492,1.448985,0.724492
9,9,60,162.000000,153.428571,8,108.600000,0.631148,1.262296,0.631148

In [16]:
t = 4 * 6  #4 semanas por 6 meses
cltv["exp_sales_6_month"] = bgf.predict(t,
                                        cltv['frequency'],
                                        cltv['tenure'],
                                        cltv['live_purches'])
cltv.head(10)

,id_cliente,recency,live_purches,tenure,frequency,monetary,b_exp_sales_3_month,b_exp_sales_6_month,exp_sales_3_month,exp_sales_6_month
0,0,232,211.142857,178.000000,13,82.830769,0.755534,1.511069,0.755534,1.511069
1,1,83,211.428571,199.571429,19,96.589474,1.063227,2.126455,1.063227,2.126455
2,2,90,211.000000,198.142857,14,85.485714,0.807529,1.615058,0.807529,1.615058
3,3,8,212.000000,210.857143,18,100.444444,1.009319,2.018638,1.009319,2.018638
4,4,2,187.000000,186.714286,14,80.571429,0.900318,1.800635,0.900318,1.800635
5,5,30,190.428571,186.142857,17,86.588235,1.055351,2.110701,1.055351,2.110701
6,6,156,212.142857,189.857143,14,83.542857,0.803585,1.607170,0.803585,1.607170
7,7,16,197.142857,194.857143,11,110.836364,0.694248,1.388496,0.694248,1.388496
8,8,23,188.000000,184.714286,11,83.200000,0.724492,1.448985,0.724492,1.448985
9,9,60,162.000000,153.428571,8,108.600000,0.631148,1.262296,0.631148,1.262296

In [17]:
cargar_en_db(cltv, 'cltv')

Saved table: cltv

In [18]:
print('Ok_')

Ok_